.cover__link {

    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("../../../images/cover__background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 740px;
    text-decoration: none;
}

.cover__link::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(42, 44, 47, 0.3);
}

.cover__link:hover::before {
    
    background: rgb(42, 44, 47, 0.8);
    transition: background 0.2s;
}

@media screen and (max-width: 1024px) {
    
    .cover__link {
        
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    
    .cover__link {
        
        min-height: 61.07vw;
    }
}

@media screen and (max-width: 320px) {
    
    .cover__link {
        
        max-width: 320px;
        min-height: 200px;
    }
}