.places {
    
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: calc(100% - 4.6875%*2);
        padding: 0 4.6875% 12px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: calc(100% - 3.125%*2);
        padding: 0 3.125% 17px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 320px;
        padding: 0;
    }
}