.cover__text_title {
    position: relative;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
    .cover__text_title {
        font-size: 9.375vw;
        margin-bottom: 4.17vw;
        
    }
}

@media screen and (max-width: 320px) {
    .cover__text_title {
        font-size: 10vw;
        line-height: 1.093;
        padding: 0 10%;
        margin-bottom: 16px;
        
    }
}