.cover__text_title {
    position: relative;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin-bottom: 32px;
}

@media screen and (max-width: 1024px) {
    
    top: 30.5%;
}