.place__image {
    max-width: 460px;
    max-height: 460px;
    grid-column: 1;
    grid-row: 2;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 42.96875vw;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 44.27vw;
        max-height: 44.27vw;
    }
}

@media screen and (max-width: 530px) {
    .place__image {
        max-width: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        max-width: 320px;
        max-height: 320px;
    }
}