.lead {
    
    max-width: calc(1280px - 148px*2);
    margin: 0 auto;
    padding: 0 148px;
}

@media screen and (max-width: 1024px) {
    .lead {
        width: calc(100% - 48px*2);
        padding: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
        padding: 0;
    }
}