.footer__copyright {
    
    color: white;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    
    .footer__copyright {

        font-size: 1.82vw;     
    }
}

@media screen and (max-width: 320px) {
    
    .footer__copyright {
        
        font-size: 14px;
        line-height: 1;
        padding-top: 16px;     
    }
}

