.intro__text {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.63;
    color: white;
    text-align: left;
    padding: 0;
    padding-bottom: 33px;
    margin: 0;
    max-width: 690px;
}