.cover__text {

    position: absolute;
    max-width: 560px;
    font-family: "Inter";
    font-style: normal;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    left: calc((100% - 560px)/2);
    top: 33.1%;
    z-index: 1;
}