.cover__text {
    
    position: relative;
    bottom: 495px;
    max-width: 560px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    
    .cover__text {

        bottom: 41.8vw;
    }
}


@media screen and (max-width: 320px) {
    
    .cover__text {

        bottom: 167px;
        max-width: 288px;
        margin: 0 auto;
    }
}