.cover {
    position: relative;
    max-width: calc(1280px - 48px*2);
    margin: 0 auto;
    padding: 0 48px;
}

.cover:hover .cover__image {

    background-color: #2A2C2F;
    opacity: 0.7;
}

@media screen and (max-width: 1024px){
    .cover {
        padding: 0;
        width: 100%;
    }
}