.cover__image {
    margin: 92px 0;
    width: 1184px;
    min-height: 740px;
    background-image: url("../../../images/cover__background.jpg");
    transition: opacity 0.5s ease-in-out;
}

.cover__image:hover {
    background-color: #2A2C2F;
    opacity: 0.7;
}