.cover__title {
    
    max-width: 560px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 1.06;
    color: white;
    text-align: center;
    padding: 0;
    padding-top: 19.140625vw;
    margin: 0 auto;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .cover__title {
    
        font-size: 9vw;
        line-height: 1.1;
        max-width: 69.9vw;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
    
        font-size: 32px;
        line-height: 1.1;
        max-width: 288px;
        padding: 0 10%;
    }
}

