.cover__text_subtitle {
    position: relative;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    top: 59.2%;
}